<%= form_for(trip) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_email %>
    <%= f.text_field :user_email, :value => current_user.email %>
  </div>

  <div class="field">
    <%= f.label :place_ids %>
    <%= f.text_field :place_ids %>
  </div>

  <div class="field">
    <%= f.label :mode %>
    <%= f.text_field :mode %>
  </div>

  <div class="field">
    <%= f.label :feedback %>
    <%= f.text_area :feedback %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
