<div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 map-explore-main">
  <div id='map-explore' class='map-explore'></div>
  <%= @cost_result %><br><br>
  <%= @place_explore %><br><br>
  <%= @start_end %><br><br>
  <%= @range_opermutations_with_index %><br><br>
  <%= @tbt_result %><br><br>
<div>
