  <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
    <h2 class="page-header" id='new-header'>Start a New Journey</h2>
    <div class="blog-masthead" id='blog-masthead-bar'>
      <div class="container-fluid">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#" id='select-area'>Select an Area</a>
          <a class="blog-nav-item" href="#" id='must-go'>Start & End</a>
          <a class="blog-nav-item" href="#" id='explore'>Explore</a>
          <a class="blog-nav-item" href="#" id='confirm'>Confirm</a>
        </nav>
      </div>
    </div>

    <div id='map' class='map'></div>
    <div id='spinner'></div>
    <div>
      <button id='btn-explore-fake' class='btn btn-success'>Explore!</button>
    </div>

    <div id='place-types'>
      <div>
        <button id='btn-search-fake' class='btn btn-info'>Search</button>
      </div>
      <table id='tbl-place-types'>
      <tr>
        <td><span>Stores</span>
            <label class="switch">
              <input type="checkbox" id='Stores' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Stores-second'></div>
        </td>
        <td><span>Food</span>
            <label class="switch">
              <input type="checkbox" id='Foods' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Foods-second'></div>
        </td>
        <td><span>Religion</span>
            <label class="switch">
              <input type="checkbox" id='Religions' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Religions-second'></div>
        </td>
        <td><span>Bar</span>
            <label class="switch">
              <input type="checkbox" id='Bars' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Bars-second'></div>
        </td>
      </tr>
      <tr>
        <td><span>Art</span>
            <label class="switch">
              <input type="checkbox" id='Arts' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Arts-second'></div>
        </td>
        <td><span>Park</span>
            <label class="switch">
              <input type="checkbox" id='Parks' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Parks-second'></div>
        </td>
        <td><span>Other</span>
            <label class="switch">
              <input type="checkbox" id='Others' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Others-second'></div>
        </td>
        <td></td>
      </tr>
      </table>

    </div>
    <!-- <%= link_to 'Back', trips_path %> -->
    <%= form_tag(trips_new_place_search_path, method: "get", remote: true, id: 'form-place-search') do %>
      <%= label_tag(:latitude, "Latitude:") %>
      <%= text_field_tag(:latitude) %>
      <%= label_tag(:longitude, "Longitude:") %>
      <%= text_field_tag(:longitude) %>
      <%= label_tag(:distance, "Distance:") %>
      <%= text_field_tag(:distance) %>
      <%= label_tag(:selected_types, "Selected Types:") %>
      <%= text_field_tag(:selected_types) %>
      <%= submit_tag("Search", :id => "btn-place_search_submit") %>
    <% end %>

    <%= form_tag(trips_new_explore_path, method: "get", id: 'all-points') do %>
      <%= label_tag(:start_end, "Must go Places:") %>
      <%= text_field_tag(:start_end) %>
      <%= label_tag(:place_explore, "Places to explore:") %>
      <%= text_field_tag(:place_explore) %>
      <%= submit_tag("Explore!", :id => "btn-place_explore_submit") %>
    <% end %>


    <div id="target-for-change" style='display:none;'>
    </div>
    <!-- <%= link_to 'Explore!', trips_new_explore_path %> -->

  </div>

  <!-- <div class="col-sm-3 col-md-2" id='map-sidebar'>

  </div> -->
<!-- </div> -->
