<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><%= link_to 'History', trips_path %></li>
      <li class="active"><%= link_to 'Explore', new_trip_path %></li>
    </ul>
  </div>

  <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
    <h2 class="page-header">Start a New Journey</h2>
    <div class="blog-masthead">
      <div class="container-fluid">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#" id='select-area'>Select an Area</a>
          <a class="blog-nav-item" href="#" id='must-go'>Start & End</a>
          <a class="blog-nav-item" href="#" id='explore'>Explore</a>
          <a class="blog-nav-item" href="#" id='confirm'>Confirm</a>
        </nav>
      </div>
    </div>

    <div id='map' class='map'></div>
    <div id='spinner'></div>

    <div id='place-types'>
      <table id='tbl-place-types'>
      <tr>
        <td><span>Stores</span>
            <label class="switch">
              <input type="checkbox" id='Stores' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Stores-second'></div>
        </td>
        <td><span>Food</span>
            <label class="switch">
              <input type="checkbox" id='Foods' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Foods-second'></div>
        </td>
        <td><span>Religion</span>
            <label class="switch">
              <input type="checkbox" id='Religions' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Religions-second'></div>
        </td>
        <td><span>Bar</span>
            <label class="switch">
              <input type="checkbox" id='Bars' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Bars-second'></div>
        </td>
      </tr>
      <tr>
        <td><span>Art</span>
            <label class="switch">
              <input type="checkbox" id='Arts' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Arts-second'></div>
        </td>
        <td><span>Park</span>
            <label class="switch">
              <input type="checkbox" id='Parks' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Parks-second'></div>
        </td>
        <td><span>Other</span>
            <label class="switch">
              <input type="checkbox" id='Others' class='cat_first' unchecked>
              <div class="slider"></div>
            </label>
            <div id='Others-second'></div>
        </td>
        <td></td>
      </tr>
      </table>


    </div>
    <%= render 'form', trip: @trip %>

    <!-- <%= link_to 'Back', trips_path %> -->
    <%= form_tag(trips_new_place_search_path, method: "get", remote: true) do %>
      <%= label_tag(:latitude, "Latitude:") %>
      <%= text_field_tag(:latitude) %>
      <%= label_tag(:longitude, "Longitude:") %>
      <%= text_field_tag(:longitude) %>
      <%= label_tag(:distance, "Distance:") %>
      <%= text_field_tag(:distance) %>
      <%= label_tag(:selected_types, "Selected Types:") %>
      <%= text_field_tag(:selected_types) %>
      <%= submit_tag("Search", :id => "btn-place_search_submit") %>
    <% end %>

    <div id="all-points">
      <label for="must-go-place">Must go Places:</label>
      <input type="text" id='must-go-place'><br>
      <label for="explore-place">Places to explore:</label>
      <input type="text" id='explore-place'><br>
    </div>

    <div id="target-for-change" style='display:none;'>
    </div>

  </div>

  <div class="col-sm-3 col-md-2" id='map-sidebar'>
    <!-- <div class="card" data-type=''>
      <div class="view overlay hm-white-slight">
          <img src="https://hips.hearstapps.com/cos.h-cdn.co/assets/15/12/1426952398-ariana.jpg" class="img-fluid" alt="" id='place-img'>
          <a href="#"><div class="mask waves-effect waves-light"></div></a>
      </div>
      <div class="card-block">
        <h4 class="card-title" id='place-name' data-placeid=''>NAME</h4>
        <p class="card-text" id='place-rating'>Rating</p>
        <p class="card-text" id='place-price-types'>Price . Types</p>
        <p class="card-text" id='place-address'>Address</p>
        <a href="#" class="btn btn-outline-default waves-effect" id='place-next'>Next</a>
        <a href="#" class="btn btn-outline-primary waves-effect" id='place-add'>add to map</a>
      </div>
    </div> -->
  </div>
</div>
