<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Required meta tags always come first -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">

      <title>Urban Explorer</title>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js' %>
      <%= javascript_include_tag 'https://npmcdn.com/@turf/turf/turf.min.js' %>
      <%= csrf_meta_tags %>

    </head>
    <body>
        <div class="container">
          <%= render partial: 'shared/flash' unless flash.empty? %>
          <%= yield %>
          <%= insert_paloma_hook %>
        </div>
    </body>
</html>
