<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Required meta tags always come first -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">

      <title>Urban Explorer</title>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag 'https://unpkg.com/leaflet@1.0.3/dist/leaflet.css' %>
      <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' %>
      <%= javascript_include_tag 'https://unpkg.com/leaflet@1.0.3/dist/leaflet.js' %>
      <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js' %>
      <%= javascript_include_tag 'https://npmcdn.com/@turf/turf/turf.min.js' %>
      <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.12.1/math.min.js' %>
      <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js' %>
      <%= csrf_meta_tags %>

    </head>
    <body>
      <% if user_signed_in? then%>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Urban Explorer</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                  <li class="nav-item btn-group">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email%> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Edit Profile', edit_user_registration_path(current_user) %></li>
                      <li><%= link_to 'Logout', eval("destroy_#{current_user.type.downcase}_session_path"), method: :delete %></li>
                    </ul>
                  </li>
                </ul>

            </div>
          </div>
        </nav>
        <div class="real-body container-fluid">

          <div class="row">
            <!-- The left sidebar -->
            <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                <li><%= link_to 'History', trips_path, id: 'sidebar-tab-history' %></li>
                <li><%= link_to 'Explore', new_trip_path, id: 'sidebar-tab-explore' %></li>
              </ul>
            </div>
            <!-- The main view -->
              <%= yield %>
              <%= insert_paloma_hook %>
            <!-- The right sidebar -->
            <div class="col-sm-3 col-md-2" id='map-sidebar'>
            </div>
          </div>
        </div>
      <% end %>
    </body>
</html>
